*{
    margin: 0;
    padding: 0;
}

html,body{
height: 100%;
width: 100%;
}


body{
    display: grid;
    grid-template-rows: minmax(50px,1fr) minmax(50px,0.5fr) minmax(500px,7fr) minmax(50px,1fr);   
}